body {
    background-color: #d77310;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

  
  
h1 {
    margin-top: 0;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #333;
}

.player {
    background-color: #130117;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#audio-player {
    width: 100%;
    margin-bottom: 20px;
}

#song-info {
    text-align: center;
}

#song-title {
    font-size: 24px;
    font-weight: bold;
    color: #d77310;
    margin-bottom: 5px;
}

#song-artist {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

#song-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

#song-list li {
    margin-bottom: 10px;
}

#song-list a {
    display: block;
    background-color: #78bad8;
    border: 1px solid #1d0404;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.2s ease;
}

#song-list a:hover {
    background-color: #f7f7f7;

}

 
      
  